{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
後台
{% endblock %}

{% block main %}

<div class="card">
    <div class="card-header">
        <label class="switch switch-3d switch-primary">
            <input id="btn_isServing" type="checkbox" class="switch-input" {% if isServing %}checked{% endif %}>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>
        大學伴列表
    </div>

    <div class="card-body">
        <ul class="horizontal-bars">
            <li class="legend">
                <span class="badge badge-pill badge-success"></span>
                <small>應屆大學伴</small> &nbsp;
                <span class="badge badge-pill badge-light"></span>
                <small>歷屆大學伴</small> &nbsp;
            </li>
        </ul>
        
        <form method="POST" action="/classroom/update_meet">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-responsive-sm table-striped" >
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">照片</th>
                        <th class="text-center">學號</th>
                        <th class="text-center">使用者名稱</th>
                        <th class="text-center">Meet Code</th>
                        <!-- <th style="display: none;"></th> -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for companion in companion_list %}
                    <tr>
                        <td class="text-center">{{ companion.id }}</td>
                        <td class="text-center">
                            <div class="avatar">
                                <a href="#">
                                <img src="{% static 'icon/user_no_img.png' %}" class="img-avatar">
                                </a>
                                <span class="avatar-status badge-{% if companion.isServing %}success{% else %}light{% endif %}
                                "></span>
                            </div>
                        </td>
                        <td class="text-center" >{{ companion.student_ID_number }}</td>
                        <td class="text-center">{{ companion.name }}</td>
                        <td class="text-center"><input type="text" class="form-control" name="meet_code_{{ companion.id }}" value="{{ companion.meet_code }}"></td>
                        <!-- <td style="display: none;"><input type="number" name="companion_id_{{ companion.id }}" value="{{ companion.id }}"> {{ companion.name }}</td> -->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>
            <center>
                <input class="btn btn-info" type="submit" value="更新"/>
            </center>
        </form>
    </div>
</div>
{% endblock %}
{% block customized_js %}
<script>
    $(document).ready(function() {
        $('#data_table').DataTable();
        $("#btn_isServing").change(function() {
            {% if isServing %}
            window.location.href = "/backstage/classroom/meet/not_serving"; 
            {% else %}
            window.location.href = "/backstage/classroom/meet/serving"; 
            {% endif %}
        });
    } );
</script>
{% endblock %}