<!DOCTYPE html>
<html>
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>數位學伴期末評分查詢系統</title>
    {% include 'backstage/head_source.html' %}
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <center><h2>數位學伴期末評分查詢系統</h2></center>
              <center>
                <form method="post" action="/score/search">{% csrf_token %}
                  請輸入您的學號： <input type="text" name="student_ID_number">
                  <input type="submit" value="查詢">
                </form>
              </center>
            </div>
          </div>
      </div>
    </div>
    {% include 'backstage/foot_source.html' %}
  </body>
</html>
