{% load static %}
<!-- <link href="{% static 'vendors/bootstrap4/css/bootstrap.css' %}" rel="stylesheet"> -->
<link href="{% static 'vendors/bootstrap-4.4.1/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'vendors/CoreUI/css/style.css' %}" rel="stylesheet">
<!-- <link href="{% static 'vendors/pace/themes/blue/pace-theme-barber-shop.css' %}" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'vendors/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.18/jquery.datetimepicker.css">
<link href="{% static 'vendors/alertify/alertify.css' %}">
<link href="{% static 'vendors/alertify/alertify.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/alertify/alertify_themes/default.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/alertify/alertify_themes/semantic.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/alertify/alertify_themes/bootstrap.min.css' %}" rel="stylesheet">