{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
後台
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        說明
    </div>
    <div class="card-body">
        1. 任一表格換頁之後，所有操作會取消，若需要使用搜尋功能或是換頁請先保存(或更新)。<br/>
        2. 可至「人員管理」->「大學伴」，新增大學伴資料。<br/>
        3. 新增完成可至「人員管理」->「排班列表」設定大學伴需於哪幾天上課。<br/>
        4. 簽到系統中「大學伴活動」需要手動新增，每次新增會將「服務中」的大學伴列為參與名單。<br/>
        5. 簽到系統中「公開活動」可以開放其他人報名，點選公開活動的參與人列表頁面中右上角按鈕便可顯示表單。可以將表單網址複製至其他地方使用。<br/>
        6. 課程會於週一到週五每天下午 13:30 自動新增，每次新增會將大學伴依照排班列表中的設定列為參與名單。<br/>
    </div>
</div>

{% endblock %}
{% block customized_js %}
{% endblock %}