{% load static %}
<script src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendors/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'vendors/popper/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'vendors/bootstrap4/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'vendors/MDB/js/mdb.min.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.18/jquery.datetimepicker.full.min.js"></script>