{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC&display=swap&subset=chinese-traditional" rel="stylesheet"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'vendors/jquery-ui-1.12.1/jquery-ui.css' %}"></script>
<!-- Bootstrap core CSS -->
<link href="{% static 'vendors/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="{% static 'vendors/MDB/css/mdb.min.css' %}" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="{% static 'vendors/MDB/css/style.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.18/jquery.datetimepicker.css">