{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
後台
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        {{ activity.name }} - 參與人列表
        <div style="position: absolute;right: 20px;margin-top: -20px;"><a class="btn btn-outline-info btn-sm" href="/backstage/activity/checkin?Aid={{ activity.id }}"><strong>簽到系統</strong></a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm table-striped" id="data_table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">參與人姓名</th>
                        <th class="text-center">狀態</th>
                        <th class="text-center">簽到時間</th>
                        <th class="text-center">操作</th>
                        <th style="display: none;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for participant in participant_objs %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ participant.name }}</td>
                    <td class="text-center">
                        <span class="badge badge-{% if participant.isCheckedin %}success">已簽到{% else %}danger">未簽到{% endif %}</span>
                    </td>
                    <td class="text-center">{{ participant.checkin_time }}</td>
                    <td class="text-center"><a href="/checkin/activity_manual_checkin?Aid={{ activity.id }}&Uid={{ participant.User_id }}" class="btn btn-outline-success btn-sm">手動簽到</a></td>
                    <td style="display: none;">{{ participant.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
    </div>
</div>

{% endblock %}
{% block customized_js %}
<script>
    $(document).ready(function() {
        $('#data_table').DataTable();
    } );
</script>
{% endblock %}