<!DOCTYPE html>
<html>
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Message</title>
    {% include 'backstage/head_source.html' %}
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="pt-3">感謝您，您已完成確認，您可以<a href="http://www.nubes.tw/backstage/login">登入</a>進入後台。</h2>
      </div>
    </div>
    {% include 'backstage/foot_source.html' %}
  </body>
</html>